body {
    background-color: #EEEEEE;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}

ul, ol {
    list-style: none;
}

panel {
    box-sizing: content-box;
}

#actiongroup {
    width: 200px;
}
#secondgroup {
    width: 200px;
}

.hide {
    display: none;
}